// Ignore all compilation artifacts
bin/
obj/

// Ignore all Visual Studio Code solution files
*.sln

// Ignore the settings for Visual Studio Code
.vscode/

// Ignore all C# files except Program.cs and templates
*.cs
!Program.cs
!Template*.cs
